img {
  max-width: 3%;
}



.app-wrapper {
  display: grid;
  grid-template-areas:
          "header header header"
          "main-navbar profile profile";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}





